<nav class="category-container">
  <ul class="category-list">
    <li class="category-item">
      <a [routerLink]="['/news', 'general']" class="category-link"
        >General News</a
      >
    </li>
    <li class="category-item">
      <a [routerLink]="['/news', 'entertainment']" class="category-link"
        >Entertainment</a
      >
    </li>
    <li class="category-item">
      <a [routerLink]="['/news', 'business']" class="category-link">Business</a>
    </li>
    <li class="category-item">
      <a [routerLink]="['/news', 'health']" class="category-link">Health</a>
    </li>
    <li class="category-item">
      <a [routerLink]="['/news', 'science']" class="category-link">Science</a>
    </li>
    <li class="category-item">
      <a [routerLink]="['/news', 'sports']" class="category-link">Sports</a>
    </li>
    <li class="category-item">
      <a [routerLink]="['/news', 'technology']" class="category-link"
        >Technology</a
      >
    </li>
  </ul>
</nav>
