/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", san-serif;
  font-size: 16px;
  background-color: wheat;
}

.active {
  background-color: rgba(220, 20, 60, 0.2);
}
